@import "tailwindcss";
@tailwind utilities;
@layer components {
}

@theme {
  --color-shark-950: #242424;
  --color-custom2-grey: #888888;
  --color-shark-50: #f6f6f6;
  --color-shark-200: #d1d1d1;
  --color-shark-300: #b0b0b0;
  --color-shark-400: #888888;
  --color-shark-500: #6d6d6d;
  --color-shark-950: #242424;
  --color-flamingo-50: #fef4f2;
  --color-flamingo-300: #fab6a7;
  --color-flamingo-500: #ea5d3e;
  --color-flamingo-700: #b53b20;
}

body {
  margin: 0;
  /* color: white; */
  /* background: #e0e0e0; */
}
h1,
p,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}
